.snackbar {
    display: inline-block;
    position: fixed;
    /* background: #323232; */
    background: var(--neutral-2);
    /* color: #f1f1f1; */
    color: var(--neutral-4);
    min-height: 50px;
    min-width: 150px;
    padding: 16px 24px 12px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    bottom: 1rem;
    left: 1rem;
    font-size: 90%;
    transition: visibility 0.3s, transform 0.3s;
    transform: translateY(600px);
    visibility: hidden;
    will-change: transform;
    border-radius: 6px;
    bottom: 70%;
    margin-left: 10px;
  }
  
  .snackbar--visible {
    visibility: visible;
    transform: none;
  }
